<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Jasmine Spec Runner</title>

    <% css.forEach(function(style){ %>
    <link rel="stylesheet" type="text/css" href="<%= style %>">
    <% }) %>


<% scripts.forEach(function(script){ %>
    <script type="text/javascript" src="<%= script %>"></script>
    <% }) %>

    <script type="text/javascript">
 requirejs.config(
      {
        baseUrl: '../public/javascripts/',
        
        paths: {
            jquery : 'lib/jquery-1.8.3.min',
            d3 : 'lib/d3',
            jasmine: '../../spec/lib/jasmine',
            'jasmine-html': '../../spec/lib/jasmine-html',
            'jasmine-jquery':'../../spec/lib/jasmine-jquery',
            underscore:'lib/underscore',
            spec: '../../spec'
            },
        
        shim: {
          'jquery' : {
            exports: 'jQuery',
            init: function(){
              return jQuery.noConflict(true);
            }
          },
          'd3': {
            exports: 'd3'
          },
          'jasmine': {
            exports: 'jasmine'
          },
          'jasmine-html': {
            deps:['jasmine'],
            exports: 'jasmine'
          },
          'jasmine-jquery': {
            deps:['jasmine-html'],
            exports: 'jasmine'
          },
          underscore:{
            exports: '_'
          }
        }
      }
    );
</script>

    <% if (typeof specs !== 'undefined') { %>
    <script type="text/javascript">
        require([
            <% specs.forEach(function(script, i){ %>
                '<%= script %>' <% if (i !== specs.length-1){ %>,<% } %>
                <% }) %>
            ], function(){
                jasmineEnv.execute();
            });
    </script>
    <% } %>
</head>

<body>
</body>
</html>


